doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=Edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        title React devstack

        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(name="author" content="")
        meta(name="robots" content="index, follow")
        meta(name="title" content="")

        meta(property="og:title" content="")
        meta(property="og:type" content="website")
        meta(property="og:url" content="")
        meta(property="og:description" content="")
        meta(property="og:image" content="")
        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content="")
        meta(name="twitter:creator" content="")
        meta(name="twitter:url" content="")
        meta(name="twitter:title" content="")
        meta(name="twitter:description" content="")
        meta(name="twitter:image" content="") 
        meta(name="theme-color" content="#ffffff")

        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        link(rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32")
        link(rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16")
        link(rel="manifest" href="/manifest.json")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700") 

        style.
            .container {
                max-width: 960px;
                margin: auto;
            }


    body
        .container
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nam quibusdam assumenda modi praesentium, laudantium hic non! Corporis repudiandae sunt, eius ex rerum adipisci. Nobis facilis assumenda quaerat quos eum labore asperiores odio quo repellat recusandae, suscipit minima minus obcaecati illo ipsa rem inventore fuga modi voluptatum. Eveniet voluptas impedit deserunt nesciunt iure debitis tenetur rem atque quis reiciendis magni, enim quibusdam quos laborum sequi iste magnam maiores! Reiciendis, veniam atque doloribus ipsam quae voluptas tempora cumque quia. Hic, eveniet aspernatur dicta, dolore nobis incidunt asperiores accusamus ut temporibus suscipit unde, minus! Distinctio ratione in facilis corrupti ullam perferendis enim dolor nulla nam assumenda, ut autem veniam sequi eaque excepturi optio eveniet asperiores reiciendis voluptatibus cumque consequuntur officia. Nisi quaerat magnam fugit molestiae eos accusamus cumque beatae facere, nulla tempore consequatur, voluptas error voluptate unde vitae ex debitis sit doloremque. Quaerat vitae, itaque quae voluptatum a repudiandae, vel possimus deleniti ut, explicabo magnam aliquam omnis. Iste laborum praesentium, ducimus exercitationem eaque eum, maxime excepturi autem ad labore dolores atque animi facere ratione quibusdam reiciendis. Nesciunt necessitatibus, doloribus, ad quas, maiores excepturi itaque asperiores quam corporis saepe vitae ducimus nulla! Eligendi vero ut vel repellat voluptas inventore quaerat, et recusandae aliquam fugiat tenetur, sint tempore ipsa maiores in delectus laudantium reprehenderit sit laboriosam ea dolorem. Veniam quibusdam sequi at nostrum excepturi, ipsa beatae dolor sapiente. Veritatis libero impedit, minima iusto ad aut nostrum! Veritatis harum ea pariatur, autem enim quidem maiores doloremque sequi sunt amet a velit dolorem expedita, ratione ipsum voluptates sit facere officiis, dignissimos cupiditate labore. Voluptate quo, rem neque illo vel aut a maxime praesentium dolorem quam, qui atque minus corrupti fugiat nobis, esse facilis. Dolore ad, accusantium delectus voluptates impedit nisi numquam rem. Deserunt illo culpa quibusdam itaque, cupiditate? Recusandae debitis modi totam ipsum, tenetur impedit nostrum!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nam quibusdam assumenda modi praesentium, laudantium hic non! Corporis repudiandae sunt, eius ex rerum adipisci. Nobis facilis assumenda quaerat quos eum labore asperiores odio quo repellat recusandae, suscipit minima minus obcaecati illo ipsa rem inventore fuga modi voluptatum. Eveniet voluptas impedit deserunt nesciunt iure debitis tenetur rem atque quis reiciendis magni, enim quibusdam quos laborum sequi iste magnam maiores! Reiciendis, veniam atque doloribus ipsam quae voluptas tempora cumque quia. Hic, eveniet aspernatur dicta, dolore nobis incidunt asperiores accusamus ut temporibus suscipit unde, minus! Distinctio ratione in facilis corrupti ullam perferendis enim dolor nulla nam assumenda, ut autem veniam sequi eaque excepturi optio eveniet asperiores reiciendis voluptatibus cumque consequuntur officia. Nisi quaerat magnam fugit molestiae eos accusamus cumque beatae facere, nulla tempore consequatur, voluptas error voluptate unde vitae ex debitis sit doloremque. Quaerat vitae, itaque quae voluptatum a repudiandae, vel possimus deleniti ut, explicabo magnam aliquam omnis. Iste laborum praesentium, ducimus exercitationem eaque eum, maxime excepturi autem ad labore dolores atque animi facere ratione quibusdam reiciendis. Nesciunt necessitatibus, doloribus, ad quas, maiores excepturi itaque asperiores quam corporis saepe vitae ducimus nulla! Eligendi vero ut vel repellat voluptas inventore quaerat, et recusandae aliquam fugiat tenetur, sint tempore ipsa maiores in delectus laudantium reprehenderit sit laboriosam ea dolorem. Veniam quibusdam sequi at nostrum excepturi, ipsa beatae dolor sapiente. Veritatis libero impedit, minima iusto ad aut nostrum! Veritatis harum ea pariatur, autem enim quidem maiores doloremque sequi sunt amet a velit dolorem expedita, ratione ipsum voluptates sit facere officiis, dignissimos cupiditate labore. Voluptate quo, rem neque illo vel aut a maxime praesentium dolorem quam, qui atque minus corrupti fugiat nobis, esse facilis. Dolore ad, accusantium delectus voluptates impedit nisi numquam rem. Deserunt illo culpa quibusdam itaque, cupiditate? Recusandae debitis modi totam ipsum, tenetur impedit nostrum!
        #app